<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script type="javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <script type="javascript" th:src="@{/layui/layui.js}"></script>
    <title>宿舍管理系统</title>
</head>

<body class="layui-layout-body">
<!--新增，查询区-->
<div style="margin-top: 40px">
    <!--新增按钮-->
    <div class="layui-input-inline">
        <button id="add" style="margin-left: 30px" type="button" class="layui-btn">新增</button>
        <button id="select" style="margin-left: 30px" type="button" class="layui-btn">查询</button>
    </div>
    <!--查询 查：根据管理员的姓名、性别、电话号码、管理楼查询-->
    <!--姓名为输入框，性别下拉框，电话输入框，管理楼层下拉框-->
    <div class="layui-input-inline">
        <form action="">
            <div class="layui-inline">
                <label class="layui-form-label">账号</label>
                <div class="layui-input-inline">
                    <input id="userId-select" type="text" name="userId" lay-verify="title" autocomplete="off" placeholder="请输入账号" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input id="username-select" type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-inline">
                    <input id="phone-select" type="text" name="phone" lay-verify="required|phone" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                </div>
            </div>
        </form>
    </div>
</div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>数据展示</legend>
</fieldset>


<!--表头-->
<table id="demo" lay-filter="test"></table>

<!--操作按键-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>

<!--<div id="pagination"></div>-->

<!--新增弹出层-->
<div id="insertPage" style="margin-top:20px;display: none;">
    <form id="dormitory" class="layui-form" lay-filter="dormitory" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input style="width: 400px" type="text" id="userId" name="userId" lay-verify="required" lay-reqtext="账号不能为空" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input style="width: 400px" type="text" id="username" name="username" lay-verify="required" lay-reqtext="姓名不能为空" placeholder="请输入姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input style="width: 400px" type="text" id="password" name="password" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input style="width: 400px" type="text" id="sex" name="sex" lay-verify="required" lay-reqtext="性别不能为空" placeholder="请输入性别" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input style="width: 400px" type="tel" id="phone" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" placeholder="请输入手机号">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">楼栋</label>
            <div class="layui-input-block">
                <input style="width: 400px" type="text" id="floorId" name="floorId" lay-verify="required" lay-reqtext="楼层不能为空" placeholder="请输入楼栋" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限</label>
            <div class="layui-input-block">
                <input style="width: 400px" type="text" id="roleRank" name="roleRank" lay-verify="required" lay-reqtext="权限不能为空" value="3" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
</div>

<script src="/layui/layui.js"></script>
<script>
    layui.use(['table','laypage','layer','form','jquery'], function(){
        var table = layui.table
            ,laypage = layui.laypage
            ,layer = layui.layer
            ,form = layui.form
            ,$ = layui.$;



        //动态表格
        table.render({
            elem: '#demo'
            // ,height: 'full-20'
            ,url: '/dormitory/selectStudent' //数据接口
            ,request:{
                page:0,
                limit:10
            }
            ,page:true
            ,limits:[10]
            ,cols: [ [ //表头
                {field: 'userId', title: '账号', align: "center", sort: true}
                ,{field: 'username', title: '姓名', align: "center"}
                ,{field: 'password', title: '密码', align: "center", sort: true}
                ,{field: 'sex', title: '性别', align: "center"}
                ,{field: 'phone', title: '手机号', align: "center", sort:true}
                ,{field: 'floorId', title: '楼栋', align: "center", sort: true}
                ,{field: 'roleRank', title: '权限', align: "center", sort: true}
                ,{field: 'right', title: '操作', align: "center", width: 300, sort:true, toolbar: '#barDemo'}
            ] ]
        });

        //新增的点击事件
        $("#add").click(function () {
            layer.open({
                type:1,
                title:"新增",
                area:['600px','500px'],
                btn:['确定','取消'],
                content:$("#insertPage"),
                yes:function (index,layero) {
                    $.ajax({
                        url:"/dormitory/insertStudent"
                        ,data:{
                            userId:$("#userId").val(),
                            username:$("#username").val(),
                            password:$("#password").val(),
                            sex:$("#sex").val(),
                            phone:$("#phone").val(),
                            floorId:$("#floorId").val(),
                            roleRank:$("#roleRank").val()
                        }
                        ,type: "POST"
                        ,dataType: "json"
                        ,success: function (data) {
                            if(data>0){
                                layer.alert('增加成功',{icon:1,title:'提示'},function(i){
                                    layer.close(i);
                                    //清空表单
                                    form.val(
                                        "dormitory"
                                        ,{
                                            "userId":""
                                            ,"username":""
                                            ,"password":""
                                            ,"sex":""
                                            ,"phone":""
                                            ,"floorId":""
                                        }
                                    );
                                });
                                table.reload('demo',{//重载表格
                                    page:{
                                        curr:1
                                    }
                                })
                            }
                        }
                        ,error:function (data) {
                            layer.alert('添加失败',{title:'错误'},function (i) {
                                layer.close(i);
                            });
                        }
                    });
                },
                btn2: function(index, layero){
                    //按钮【按钮二】的回调
                    layer.close(index);
                }
            });
        });
        //删除和编辑操作
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'del'){
                layer.confirm('确定删除此记录吗?', {icon: 3, title:'提示'}, function(index){
                    //发送ajax请求
                    $.ajax({
                        url:"/dormitory/deleteStudent"
                        ,data:{
                            userId:data.userId
                        }
                        ,type:"POST"
                        ,dataType:"json"
                        ,success:function (data) {
                            //关闭弹出层
                            layer.close(index);
                            //刷新表格
                            table.reload('demo',{
                                page:{
                                    curr:1
                                }
                            });
                        }
                        ,error:function (data) {
                            layer.alert('删除失败',{title:'错误'},function (i) {
                                layer.close(i);
                                layer.close(index);
                            });
                        }
                    });
                    layer.close(index);
                });
            }else if(layEvent === 'edit'){
                //初始化数据
                form.val(
                    "dormitory"
                    ,{
                        "userId":data.userId
                        ,"username":data.username
                        ,"password":data.password
                        ,"sex":data.sex
                        ,"phone":data.phone
                        ,"floorId":data.floorId
                    }
                );
                layer.open({
                    type:1,
                    title:"编辑",
                    area:['600px','500px'],
                    btn:['确定','取消'],
                    content:$("#insertPage"),
                    yes:function (index,layero) {
                        $.ajax({
                            url:"/dormitory/updateStudent"
                            ,data:{
                                userId:$("#userId").val(),
                                username:$("#username").val(),
                                password:$("#password").val(),
                                sex:$("#sex").val(),
                                phone:$("#phone").val(),
                                floorId:$("#floorId").val(),
                                roleRank:$("#roleRank").val()
                            }
                            ,type: "POST"
                            ,dataType: "json"
                            ,success: function (data) {
                                if(data>0){
                                    layer.alert('修改成功',{icon:1,title:'提示'},function(i){
                                        layer.close(i);
                                        layer.close(index);
                                        //清空表单
                                        form.val(
                                            "dormitory"
                                            ,{
                                                "userId":""
                                                ,"username":""
                                                ,"password":""
                                                ,"sex":""
                                                ,"phone":""
                                                ,"floorId":""
                                            }
                                        );
                                    });
                                    table.reload('demo',{//重载表格
                                        page:{
                                            curr:1
                                        }
                                    })
                                }
                            }
                            ,error:function (data) {
                                layer.alert('修改失败',{title:'错误'},function (i) {
                                    layer.close(i);
                                });
                            }
                        });
                    },
                    btn2: function(index, layero){
                        //按钮【按钮二】的回调
                        layer.close(index);
                    }
                })
            }
        });

        //查询操作
        $("#select").click(function () {
            //获取数据
            var userId = $("#userId-select").val()
                ,username = $("#username-select").val()
                ,phone = $("#phone-select").val();
            //刷新表格
            table.reload('demo',{//重载表格
                //添加参数
                where:{
                    userId:userId,
                    username:username,
                    phone:phone
                }
                //重载至第一页
                ,page:{
                    curr:1
                }
            })

        });


    });
</script>
</body>
</html>

